@use 'variables' as *;
@use 'ui/touchable' as t;

:host {
  display: block;
  height: 100%;
}

.touchable {
  @include t.touchable($primary-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  height: 100%;
}

.day-of-month {
  font-size: 1.4rem;
  line-height: 1.2;
}
