@import "~foundation-sites/scss/foundation";
@import "mixins/ui";
:host {
  display: block;
  height: 100%;
}
.touchable {
  @include touchable;
  justify-content: stretch;
  align-items: center;
}
.container {
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  & div {
    width: 100%;
  }
}
.day-of-month {
  font-size: 1.4rem;
  line-height: 1.2;
}
