@use 'variables' as *;
@use 'typography/heads' as h;
@use 'ui/touchable' as t;

:host {
  display: grid;
  grid-template-columns: [cols-start] repeat(4, 1fr) [cols-end];
  grid-gap: 0.5rem;
  border-top: 1px solid $light-gray;
  min-height: 5rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

:host(:last-of-type) {
  margin-bottom: 0;
  border-bottom: 1px solid $light-gray;
}

.date {
  grid-column: cols-start / 1;
}

.content {
  grid-column: 2 / cols-end;
}

.touchable {
  @include t.touchable($primary-color-light);
  height: 100%;
  section {
    display: flex;
    flex-flow: column;
    height: 100%;
    div.description {
      flex-grow: 1;
    }
  }
}

@include h.headings(6);
h6.title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  background: $white;
  opacity: 0.8;
  flex-grow: 1;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  padding: 0 0.2rem;
}
