<div class="date">
  <moods-list-item-date (click)="showCalendar()" [eventTime]="item.eventTime">
  </moods-list-item-date>
</div>
<div class="content">
  <div class="touchable" (click)="toEdit()">
    <div class="aligner">
      <h6 class="title">{{item.title}}</h6>
      <div class="description">
        {{item.description}}
      </div>
    </div>
  </div>
</div>

<ng-template [appModalContentId]="modalViewId">
  <moods-datetime-picker
    #calendar
    [datetime$]="eventDatetime$"
    (cancel)="onCalendarCancel()"
    (datetimeSubmit)="onCalendarOk($event)"
  >
  </moods-datetime-picker>
</ng-template>
