@import "~foundation-sites/scss/foundation";
@import "mixins/typography";
@import "mixins/ui";

@include heading("h6");

:host {
  @include xy-grid;
  @include xy-gutters($negative: true);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid;
  border-top: 1px solid;
  min-height: 6rem;
}

:host(:last-of-type) {
  margin-bottom: 0;
}

.date {
  @include xy-cell(3);
}

.content {
  @include xy-cell(9);
  & .aligner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.touchable {
  @include touchable;
}

h6.title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  margin-top: 0.2rem;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  flex-grow: 1;
  background: $light-gray;
}
