@use 'ui/touchable' as *;
@use 'ui/forms';
@use 'variables' as *;

:host {
  display: block;
}

.container {
  padding-top: 0.25rem;
}

.submit [type='submit'] {
  @include button();
}

.form-input {
  @extend %form-group-margin-bottom;

  input[type='text'], textarea {
    @extend %form-input-shared-styles;
  }

  input[type='text'] {
    @include forms.line-input();
  }

  label {
    @extend %form-label;
  }

  textarea {
    @extend %form-textarea;
  }
}

.datetime {
  cursor: pointer !important;
}

.month {
  font-weight: bold;
  margin: 0;
  padding: 0 0 0.25rem 0;
  text-align: center;
  text-transform: unset;
}
