<div class="container">
  <ng-container *ngIf="!(isNew$ | async)">
    <h3 class="month">{{ formattedDate }}</h3>
  </ng-container>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="(isNew$ | async)">
      <div class="form-input">
        <label>
          Event time
          <input type="text" class="datetime"
            formControlName="eventTime" readonly (click)="openPicker()">
        </label>
      </div>
    </ng-container>
    <div class="form-input">
      <label>
        Title
        <input type="text" formControlName="title" placeholder="Title" />
      </label>
    </div>
    <div class="form-input">
      <label>
        Description
        <textarea formControlName="description"></textarea>
      </label>
    </div>
    <div class="submit">
      <input type="submit" [disabled]="submitDisabled$ | async" />
    </div>
  </form>
</div>

<ng-template [appModalContentId]="modalViewId">
  <moods-datetime-picker
    #calendar
    (cancel)="onCalendarCancel()"
    (datetimeSubmit)="onCalendarOk($event)"
  >
  </moods-datetime-picker>
</ng-template>
