<div class="container">
  <ng-container *ngIf="!(isNew$ | async)">
    <h3 class="month">{{ formattedDate }}</h3>
  </ng-container>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="(isNew$ | async)">
      <div class="form-input">
        <label for="eventTime">
          Event time
        </label>
        <input id="eventTime" type="text" class="datetime"
          formControlName="eventTime" readonly (click)="openPicker()">
      </div>
    </ng-container>
    <div class="form-input">
      <label for="title">
        Title
      </label>
      <input type="text" id="title" formControlName="title" placeholder="Title" />
    </div>
    <div class="form-input">
      <label for="description">
        Description
      </label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
    <ng-container *ngIf="hasFinished">
      <div class="form-input">
        <label for="mood">Mood rating</label>
        <moods-rating id="mood" formControlName="mood"></moods-rating>
      </div>
    </ng-container>
    <div class="submit">
      <input type="submit" [ngClass]="{ 'disabled': submitDisabled$ | async }" />
    </div>
  </form>
</div>

<ng-template #dtPicker>
  <moods-datetime-picker
    (cancel)="onCalendarCancel()"
    (datetimeSubmit)="onCalendarOk($event)"
    [disablePast]="isNew$ | async"></moods-datetime-picker>
</ng-template>
