@use 'ui/touchable' as *;
@use 'variables' as *;

:host {
  display: block;
}

.container {
  padding-top: 0.25rem;
}

.submit [type='submit'] {
  @include button();
}

.form-input {
  margin-bottom: .5rem;

  input[type='text'], textarea {
    box-sizing: border-box;
    border: 1px solid $light-gray;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    &:focus {
      border-color: $primary-color;
    }
  }

  input[type='text'] {
    display: block;
    height: 28px;
    padding: 0 0.5em;
  }

  label {
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 0.9em;
  }

  textarea {
    height: 160px;
    max-height: 70vh;
    max-width: 100%;
    min-width: 100%;
    padding: 0.5em;
  }

  [type='text'].ng-invalid {
    border-color: $alert-color;
  }
}

.datetime {
  cursor: pointer !important;
}

.month {
  font-weight: bold;
  margin: 0;
  padding: 0 0 0.25rem 0;
  text-align: center;
  text-transform: unset;
}
