// must include this file after foundation

// heading mixin - remove after foundation 6.7.0 released with header mixins and placeholders
// $tag is one of 'h1', 'h2', 'h3', 'h4' etc.
@mixin heading($tag, $addSmall: false, $responsive: true) {
  #{$tag} {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    color: $header-color;
    text-rendering: $header-text-rendering;

    @if $addSmall {
      small {
        line-height: 0;
        color: $header-small-font-color;
      }
    }
  }

  @if $responsive {
    @each $size, $headers in $header-styles {
      $header-defs: map-get($headers, $tag);
      @include breakpoint($size) {
        $font-size-temp: 1rem;
        #{$tag} {
          @if map-has-key($header-defs, font-size) {
            $font-size-temp: rem-calc(map-get($header-defs, font-size));
            font-size: $font-size-temp;
          } @else if map-has-key($header-defs, fs) {
            $font-size-temp: rem-calc(map-get($header-defs, fs));
            font-size: $font-size-temp;
          } @else if $size == $-zf-zero-breakpoint {
            font-size: $font-size-temp;
          }
          @if map-has-key($header-defs, line-height) {
            line-height: unitless-calc(
              map-get($header-defs, line-height),
              $font-size-temp
            );
          } @else if map-has-key($header-defs, lh) {
            line-height: unitless-calc(
              map-get($header-defs, lh),
              $font-size-temp
            );
          } @else if $size == $-zf-zero-breakpoint {
            line-height: unitless-calc($header-lineheight, $font-size-temp);
          }

          @if map-has-key($header-defs, margin-top) {
            margin-top: rem-calc(map-get($header-defs, margin-top));
          } @else if map-has-key($header-defs, mt) {
            margin-top: rem-calc(map-get($header-defs, mt));
          } @else if $size == $-zf-zero-breakpoint {
            margin-top: 0;
          }
          @if map-has-key($header-defs, margin-bottom) {
            margin-bottom: rem-calc(map-get($header-defs, margin-bottom));
          } @else if map-has-key($header-defs, mb) {
            margin-bottom: rem-calc(map-get($header-defs, mb));
          } @else if $size == $-zf-zero-breakpoint {
            margin-bottom: rem-calc($header-margin-bottom);
          }
        }
      }
    }
  }
}
