@mixin touchable($fullHeight: true, $padding: 0.2rem, $color: $black) {
  @include button-hollow-style($color: $color);
  @if $fullHeight {
    height: 100%;
  }
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  padding: $padding;

  &:hover {
    border-color: lighten($color, 45%);
  }
}
