@use 'variables' as *;
@use 'breakpoints' as *;
@use 'util/container';

:host {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  position: fixed;
  width: 100%;
}

:host(.hidden) {
  display: none;
}

.scrim {
  background: $black;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  @include container.base($use-padding: false);
  background-color: $white;
  z-index: 1;
}

@media screen and (max-width: map-get($breakpoints, 'medium')) {
  .container {
    flex-basis: 100%;
  }
}

@media screen and (min-width: map-get($breakpoints, 'medium') + 1px) {
  .container {
    flex-basis: 80%;
  }
}
