@import '~foundation-sites/scss/foundation';

:host {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

:host(.hidden) {
  display: none;
}

.scrim {
  background: $black;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  @include xy-grid-container;
  background-color: $white;
  z-index: 1;
}
