@import "~foundation-sites/scss/foundation";
@import "~css.gg/icons/scss/add.scss";
@include add-foundation-colors;
@include foundation-typography;
@include foundation-xy-grid-classes;

h3 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 0.5rem 0;
  color: $white;
}
.title-container {
  background: $primary-color;
}


div.button-group {
  justify-items: end;
  height: 100%;
  align-items: center;
  display: grid;
  grid-auto-columns: 1fr;
  a {
    width: 2rem;
    height:2rem;
    display:flex;
    justify-content:center;
    align-items:center
  }
  i {
    color: $white;
  }
}
