@use 'variables' as *;
@use 'sass:color' as color;

@mixin touchable($background: $primary-color) {
  background-color: $background;
  box-sizing: border-box;
  border: 1px solid $light-gray;
  padding: 0.2rem;
  cursor: pointer;
  &:hover {
    border-color: $dark-gray;
    background-color: darken($background, 5%);
  }
}

@mixin button(
  $background: $primary-color,
  $hover-color: auto,
  $foreground: $white,
  $custom-height: false,
  $custom-padding: false,
  $invert-hover: false, // false - hover color is background, true - hover is foreground
  $hover-percentage: -15%
) {
  cursor: pointer;
  @if $custom-height == false {
    height: 1.5rem;
  }
  @if $custom-padding == false {
    padding: 0 0.5rem;
  }
  box-sizing: border-box;
  line-height: inherit;
  margin: 0;
  margin-right: 0.3rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: $background;
  color: $foreground;
  border: 0;
  border-radius: 2px;
  &:hover {
    @if $invert-hover == false {
      @if $hover-color == auto {
        background-color: color.scale($background, $lightness: $hover-percentage);
      } @else {
        background-color: $hover-color;
      }
    } @else {
      @if $hover-color == auto {
        color: color.scale($foreground, $lightness: $hover-percentage);
      } @else {
        color: $hover-color;
      }
    }
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: $dark-gray;
  }
}
