$primary-color: #1779ba;
$primary-color-light: lighten($primary-color, 56%);
$light-gray: #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
$black: #0a0a0a !default;
$white: #fefefe !default;
$alert-color: #cc4b37 !default;

$app-font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
$app-base-font-size: 16px;
