@use 'sass:color';

$primary-color: #1779ba;
$primary-color-light: lighten($primary-color, 56%);
$light-gray: #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
$black: #0a0a0a !default;
$white: #fefefe !default;
$alert-color: #cc4b37 !default;

$app-font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
$app-base-font-size: 16px;

$anchor-color: $primary-color !default;
$anchor-color-hover: color.scale($anchor-color, $lightness: -8%) !default;
