<ng-template ngFor let-itemsByMonth [ngForOf]="itemsByMonth$ | async">
  <div class="container">
    <h5 class="month">
      {{itemsByMonth.month.formatted}} {{itemsByMonth.year}}
    </h5>
    <ng-template ngFor let-item [ngForOf]="itemsByMonth.items">
      <moods-item [item]="item" (dateClick)="showCalendar()"></moods-item>
    </ng-template>
  </div>
</ng-template>

<ng-template [modalContentId]="modalId">
  <moods-datetime-picker
    (cancel)="onCalendarCancel()"
    (datetimeSubmit)="onCalendarOk($event)"
  >
  </moods-datetime-picker>
</ng-template>
